<!-- app/views/devise/passwords/new.html.erb -->

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card" style="width: 400px;">
    <div class="card-body">
      <h2 class="card-title text-center">Forgot your password?</h2>
      
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "form-signin" }) do |f| %>
        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>
        </div>

        <div class="mb-3">
          <%= f.submit "Send me reset password instructions", class: "btn btn-primary w-100" %>
        </div>

        <div class="mt-3 text-center">
          <%= link_to "Sign in", new_session_path(resource_name), class: "text-muted" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
